body {
  background-color: #e4f1fe;
}

h1 {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  color: #385170;
}

h2 {
  color: #385170;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}

h3 {
  font-size: 20px;
}

p,
li {
  font-weight: strong;
  font-size: 20px;
  color: #385170;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.main {
  border-radius: 16px;
  max-width: 850px;
  line-height: 0.5;
  margin: 50px auto;
  padding: 40px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  background-color: white;
}

.searchbar {
  border-radius: 1.25rem;
}

.city {
  text-align: center;
  padding: 20px;
}

.date {
  font-weight: strong;
  color: rgb(77, 75, 75);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.temp {
  font-size: 40px;
}

.location {
  display: inline;
  color: #385170;
  margin-right: 5px;
}

.meteo {
  color: #385170;
  font-size: 40px;
}

.todays-weather {
  text-align: left;
  margin-left: 50px;
  color: #385170;
  font-family: "Montserrat", sans-serif;
}

.todaysDate {
  font-size: 30px;
}

.line {
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}

.forecast {
  text-align: Center;
}

.wind {
  font-size: 15px;
}

.sunrise {
  font-size: 13px;
  font-weight: normal;
  line-height: 0px;
  margin: 0;
}

.coder {
  padding: 10px;
  margin-top: 30px;
  text-align: center;
}
