body {
  background-color: #e4f1fe;
}

h1 {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  color: #385170;
}

h2 {
  color: #385170;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}

h3 {
  font-size: 20px;
}

p,
li {
  font-weight: strong;

  color: #385170;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 1.25rem;
}

.main {
  border-radius: 16px;
  max-width: 650px;
  line-height: 0.5;
  margin: 50px auto 5px auto;
  padding: 40px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  background-color: white;
}

.searchbar {
  border-radius: 1.25rem;
}

.city {
  text-align: center;
  padding: 25px;
  font-size: 30px;
}

.cityname {
  max-width: 80%;
  margin: 0 auto;
}

.date {
  font-weight: strong;
  color: rgb(77, 75, 75);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.temp,
.temp-unit {
  font-size: 20px;
  padding: 3px;
  color: #465a72;
}

.temp-unit {
  position: relative;
  top: -18px;
  left: -35px;
}

.today {
  line-height: 25px;
  text-align: center;
  background-color: aliceblue;
  max-width: 220px;
  border-radius: 16px;
  font-family: "Montserrat", sans-serif;
}

.weather-summary {
  padding-top: 15px;
  font-size: 20px;
  padding-bottom: 10px;
  color: #385170;
}

.submit {
  background-color: #5aa5f0;
  border-color: #5aa5f0;
}
.submit:hover {
  background-color: #047af0;
  border-color: #047af0;
}

.submit:focus {
  background-color: #047af0;
  border-color: #047af0;
  box-shadow: 0 0 0 0.25rem rgba(85, 125, 131, 0.5);
}

.location {
  display: inline;
  color: rgb(80, 78, 78);
  margin: 0 5px;
}

.currentLocation {
  background-color: #f3e5b1;
  border-color: #f3e5b1;
}

.currentLocation:hover {
  background-color: #e9c854;
  border-color: #e9c854;
}

.currentLocation:focus {
  background-color: #e9c854;
  border-color: #e9c854;
  box-shadow: 0 0 0 0.25rem rgba(118, 119, 96, 0.5);
}

.meteo {
  color: #385170;
  font-size: 40px;
}

.todays-weather {
  text-align: left;
  margin-left: 50px;
  color: #385170;
  font-family: "Montserrat", sans-serif;
}

.todays-conditions {
  color: #465a72;
  font-size: 14px;
}

.todaysDate {
  font-size: 25px;
}

#icon {
  float: left;
  position: relative;
  top: -38px;
  left: -25px;
}

.line {
  width: 85%;
  margin: auto;
  margin-bottom: 15px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -18px;
}

.active {
  color: #385170;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.forecast {
  text-align: Center;
  margin-top: 10px;
}

.sunrise {
  font-size: 13px;
  font-weight: normal;
  line-height: 0px;
  margin: 0;
}

.coder {
  padding: 10px;
  text-align: center;
}

.temp-forecast {
  font-size: 14px;
}
